* {
  padding: 0;
  margin: 0;
}

/* recipes/index.html.erb file */

.main {
  padding: 24px 16px;
}

.sub-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 16px;
}

.sub-main a {
  text-decoration: none;
  color: #2e2f30;
}

.row {
  border: 2px solid #2e2f30;
  border-radius: 10px;
  width: 40rem;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10.012rem;
}

.row1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
  padding: 4px;
}

.row1 h3 {
  text-transform: capitalize;
}

.row1 .btn-remove {
  background: transparent;
  border: none;
  text-decoration: underline;
  text-transform: uppercase;
  color: #326de0;
  font-weight: 600;
  cursor: pointer;
}

/* recipe/show.html.erb file */
